<!DOCTYPE html>
    <html lang ="es">
        <head>
            <title>Login</title>
            <meta charset = "UTF-8">
            <link href = "css/views.css" rel="stylesheet">
            <link href = "css/login.css" rel="stylesheet">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
            <link href = https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css rel = "stylesheet">
        </head>
        <body>
            <body>
                <header>
                    <span>
                        <img class="logo" src = "/images/logo-mercado-liebre (1).svg" alt="logo Mercadoliebre"></span>
                        <span><p class="barra-de-busqueda">
                            <form>
                                <input type="search">
                            </form>
                        </p></span>
                        <span><i class="fa-solid fa-magnifying-glass"></i></span>
                        <div><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito</div>   
                        <nav>
                                <span><a href="/Ofertas">Ofertas</a></span>
                                <span><a href="/Tiendas Oficiales">Tiendas Oficiales</a></span>
                                <span><a href="/Vender">Vender</a></span>
                                <span><a href="/Ayuda">Ayuda</a></span>
                                <span><a href="/register">Creá tu Cuenta<i class="fa-solid fa-id-card"></i></a></span>
                                <span><a href="/login">Ingresá<i class="fa-solid fa-right-from-bracket"></i></a></span>
                                <span><a href="/Mis Compras">Mis Compras</a><i class="fa-solid fa-basket-shopping"></i></span>
                            <div class="burger-menu"><i class="fas fa-bars"></i></div>
                        </nav>
                        <div>
                            <img class="banner" src="/images/img-home-banner.jpg" alt="Banner">
                        </div>    
            </header>
            <section>
                <form class="registro" action="/" method="get"> 
                    <div class="elem-group"> 
                        <label for="username">Nombre de usuario</label> 
                    </div>
                    <div>
                        <input type="text" id="username" name="cliet_username" placeholder="Martina Gomez" pattern=[A-Z\sa-z]{3,20} required> 
                    </div> 
                    <div class="elem-group">
                         <label for="pass">Password</label>
                    </div>
                    <div>
                        <input type="password" id="pass" name="password" required>
                    </div>
                     <div class="elem-group"><button type="submit"  href="/">Enviar</button></div>
                    </form>
            </section>
            <footer>
                <i class="fa-solid fa-credit-card fa-2xl"></i>
                <h3><ul>Pagá con tarjeta o en efectivo</ul></h3>
                <ul class="descripcion">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en 
                    puntos de pago. ¡Y siempre es seguro!</ul>
                <i class="fa-solid fa-gift fa-2xl"></i>
                <h3><ul>Envío gratis desde $ 2.500</ul></h3>
                <ul class="descripcion">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de 
                    productos. Es un beneficio de Mercado Puntos.</ul>
                <i class="fa-solid fa-user-shield fa-2xl"></i>
                <h3><ul>Seguridad, de principio a fin</ul></h3>
                <ul class="descripcion">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, 
                    porque estás siempre protegid@.</ul>
            
                <ul class="descripcion">Copyright © 1999-2020 MercadoLiebre S.R.L.</ul>
            </footer>
        </body>